.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}

.footer {
    background-color: #1fa67a;
    border-top: 1px solid #1b926c;
    color: #a5d8c7;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    margin-top: 60px;
}

.footer .container {
    padding-top: 50px;
    padding-bottom: 55px;
}