.mt10 {
    margin-top: 1rem;
}

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}

.footer {
    background-color: #1fa67a;
    border-top: 1px solid #1b926c;
    color: #a5d8c7;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    margin-top: 60px;
}

.footer .container {
    padding-top: 50px;
    padding-bottom: 55px;
}

.padding {
    padding: 10px 5px;
}

.item {
    border: #c6c6c6 2px solid;
    width: 100%;
    background-color: white;
    min-height: 100px;
    padding: 5px;
    margin: 10px 0px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 2px;
    border-radius: 4px;
}

.item:hover {
    opacity: 0.5;
}

.item p {

}

.item.h150 {
    width: 100%;
    min-height: 150px;
}

.item.h200 {
    width: 100%;
    min-height: 200px;

}

.item.h250 {
    width: 100%;
    min-height: 200px;
}

#er_wei_code {
    display: none;
}